
html, body{
    background-color: grey;
}

.profile-header {
    text-align: center;
}

#button {
    background-color: blueviolet;
}

.blog-post {
    border: 2px solid black;
    margin: 50px;
    flex-flow: column wrap;
}

.card-post {
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
}

.friends {
    border: 2px solid black;
    margin-left: 50px;
    flex-flow: column wrap;
}


.card-friends {
    border: 2px solid black;
    margin: 20px;
    padding: 5px;
  }

  h2 {
    display: block;
    text-align: center;
  }

    
