<main class="container">
  <div
    {{! class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm" }}
  >
    <!-- Our logo here: -->
    <div class="d-flex justify-content-center">

      <img
        class="m-3"
        src="/images/logo-no-background.png"
        alt=""
        width="210"
        height="140"
      />
    </div>

  

  <div class="my-3 p-3 bg-body bg-light rounded shadow-sm">
    <h6 class="purple-color border-bottom pb-2 mb-0">Friend Suggestions</h6>
     {{!-- {{#each friends as |friend|}} --}}
    <div class="d-flex text-muted pt-3">
        <img class="postimg" src="/images/image4.png" {{post.User.image}} width="32" height="32" />

      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">{{post.User.first_name}} Sample Name
              {{post.User.last_name}}</strong>
          <a class="purple-color" href="#">Follow</a>
        </div>
      </div>
    </div>
        {{!-- {{/each}} --}}

</main>

<script src="/js/comment.js"></script>
<script src="/js/post.js"></script>