
<form class=" col-6" id="login-form">
  <!-- Place our logo here instead: -->
  <img class="mb-4 center" src="/images/logo-no-background.png" alt="" width="300" height="300">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

  <div class="form-floating">
    <input type="email" class="form-control" id="email" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="password" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>

  <button id="login-btn" class="w-100 btn btn-md btn-primary" type="submit">Sign in</button>
    <button id="signup-btn" class="w-100 btn btn-md btn-secondary" type="button" >Sign up</button>
</form>
  

<script src="/js/login.js"></script>