
<form class=" col-6" id="signup-form">
  <!-- Place our logo here instead: -->
  <img class="mb-4 center" src="/images/logo-no-background.png" alt="" width="300" height="300">
  <h1 class="h3 mb-3 fw-normal">Create an account </h1>

  <div class="form-floating">
    <input type="text" class="form-control" id="first_name" placeholder="John">
    <label for="floatingInput">First name</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control" id="last_name" placeholder="Doe">
    <label for="floatingInput">Last name</label>
  </div>
    <div class="form-floating">
    <input type="email" class="form-control" id="email" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="password" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
  <button id="login-btn" class="w-100 btn btn-md btn-primary" type="submit">Create account</button>
</form>
  

<script src="/js/signup.js"></script>