.btn-primary {
  background-color: rgba(122,38,193,255);
  margin: 5px;
}

.btn-secondary {
  background-color: white;
  color: rgba(122,38,193,255);
  border: 1px solid rgba(122,38,193,255);
  margin: 5px;
}

.mb-4 {
justify-content: center;
}