.btn-primary {
  background-color: rgba(122, 38, 193, 255);
  border-color: #f8f9fa;
  margin: 5px;
}

.btn-primary:hover {
  color: rgba(122, 38, 193, 255);
  border-color: rgba(122, 38, 193, 255);
  background-color: white;
}

.btn-secondary {
  background-color: white;
  color: rgba(122, 38, 193, 255);
  border: 1px solid rgba(122, 38, 193, 255);
  border-radius: 3px;
  margin: 5px;
}

.btn-secondary:hover {
  color: white;
  background-color: rgba(122, 38, 193, 255);
}

/* .tox-statusbar {
  color: white;
} */

.mb-4 {
  justify-content: center;
}

.postimg {
  border-radius: 15%;
  margin: 1%;
}

.nav-link {
  color: rgba(122, 38, 193, 255);
}

.nav-link:hover {
  color: white;
  background-color: rgba(122, 38, 193, 255);
}

.purple-color {
  color: rgba(122, 38, 193, 255);
}

.profile-pic {
  border-radius: 50%;
}

#post-title {
  font-size: 1.5rem;
}

textarea {
  width: 100%;
}

.commentField {
  width: 75%;
}
